<section>
    <div class="container">
        <div class="row pt-5 mt-5">


            <div class="col-md-6">
                
                <form action="/add-product" method="POST">
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control">
                    <label for="">Catagory</label>
                    <input type="text" name="Catagory" class="form-control">
                    <label for="">Prize</label>
                    <input type="text" name="Prize" class="form-control">
                    <label for="">Description</label>
                    <input type="text" name="Description" class="form-control">
                    <button type="submit" class="btn btn-success mt-4 ">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>